html{
    font-family: Monospace; 
}

h1{
    margin: auto;
    text-align: center;
}

p{
    margin: auto;
    text-align: center;
}
div{
    text-align:center;
}
table{
    margin-left: auto;
    margin-right:auto;   
    text-align: center;
    width: 90%;
    table-layout:;
}

img{
    width: 100%;
    margin: auto;
}

#green{
    color: green
}

#red{ 
    color: red
}
