html{
    font-family: Monospace; 
}

h1{
    font-size:4vw;
    margin: auto;
    text-align: center;
}

p{
    margin: auto;
    text-align: center;
}
div{
    text-align:center;
}
table{
    margin-left: auto;
    margin-right:auto;   
    text-align: center;
    width: 90%;
    table-layout:fixed;
}

img{
    width: 100%;
    margin: auto;
}

li{
    text-align:left;
    list-style-type: none;
}
ul{
    text-align:left;
}
