{% extends "base.html" %}
{% block content %} 
    <tr>
        <form method="post">
            {{ form.csrf_token }}
            <td> {{ form.rField() }} </td>
            <td> Start Date: </br> {{ form.sField() }} </td>
            <td> End Date: </br> {{ form.eField() }}  </td>
            <td> <input type=submit value=Submit> </td>
        </form>
    </tr>
    </table>
    <table>
        <tr><td>
            <img style='width:50%;margin:auto;display:block;' src="{{ url_for('static',filename='plot_bmh.png') }}"/>
        </td></tr>
    </table>
    <table>
{% endblock %}
