<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Aquaponics Web Monitoring System</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-movile-web-app-status-bar-style" content="black-translucent">

    <script>var netdataTheme = 'slate';</script>
    <script type="text/javascript" src="http://{{ ip }}:19999/dashboard.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>

</head>
<body>
    <table>
        <tr><h1>
            Aquaponics Web Monitoring System<br/>
        </h1></tr>
        </br>
        <tr>
        {% if layout == "now" %}
            <h1>Now |
            <a href="recent.html">Recent</a> |
            <a href="all.html">All</a></h1>
        {% elif layout == "recent" %}
            <h1><a href="/">Now</a>
            | Recent |
            <a href="all.html">All</a></h1>
        {% elif layout == "all" %}
            <h1><a href="/">Now</a> |
            <a href="recent.html">Recent</a> |
            All</h1>
            {% endif %}
        </tr>
        {% block content %}
        {% endblock %}
    </table>
</body>
</html>
