<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Aquaponics Web Monitoring System</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-movile-web-app-status-bar-style" content="black-translucent">

    <script>var netdataTheme = 'slate';</script>
    <script type="text/javascript" src="http://10.12.224.254:19999/dashboard.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>

</head>
<body>
   <table>
            <tr><h1>
                Aquaponics Web Monitoring System<br/>
                {% if status %}
                    STATUS: <h1 id="green"> ONLINE </h1>
                {% else %}
                    STATUS: <h1 id="red"> OFFLINE </h1>
                {% endif %}
            </h1></tr>
            <tr>
                {% if layout == "now" %}
                    <h1>Now |
                    <a href="recent.html">Recent</a> |
                    <a href="all.html">All</a></h1>
                {% elif layout == "recent" %}
                    <h1><a href="/">Now</a>
                    | Recent |
                    <a href="all.html">All</a></h1>
                {% elif layout == "all" %}
                    <h1><a href="/">Now </a>|
                    <a href="recent.html"> Recent </a>|
                    All</h1>
                {% endif %}
            </tr> 
            {% for graph in graphs %}
            {% if (loop.index == 1 or loop.index == 4) %}
            <tr>
            {% endif %}
                <td>
                    <h1>{{ graph.title }}</h1></a>
                    <div data-netdata={{ graph.data }}
                         data-chart-library="easypiechart"
                         data-dimension="roomTemperature"
                         data-title=" "
                         data-width=60%
                         data-units={{ graph.units }}
                         data-after="-60"
                         data-points="60"
                         data-colors={{ graph.color }}>
                    </div>   
                </td>
            {% if (loop.index == 3 or loop.index == 6) %}
            </tr>
            {% endif %}
            {% endfor %}      
        </table> 
</body>
</html>
