{% extends "base.html" %}
{% block content %}
    {% for graph in graphs %}
            <tr>
                <h1>{{ graph.title }}</h1>
                <div data-netdata={{ graph.data }}
                     data-colors={{ graph.color }}>
                </div>
            </tr>
    {% endfor %} 
    {% for graph in systemGraphs %}
            <tr>
                <h1>{{ graph.title }}</h1>
                <div data-netdata={{ graph.data }}>
                </div>
            </tr>
    {% endfor %}
{% endblock %}
