<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Aquaponics Web Monitoring System</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-movile-web-app-status-bar-style" content="black-translucent">

    <script>var netdataTheme = 'slate';</script>
    <script type="text/javascript" src="http://localhost:19999/dashboard.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>

</head>
<body>
   <table>
            <tr><h1>
                Aquaponics Web Monitoring System<br/>
                {% if status %}
                    STATUS: <h1 id="green"> ONLINE </h1>
                {% else %}
                    STATUS: <h1 id="red"> OFFLINE </h1>
                {% endif %}
            </h1></tr>
            <tr>
                <h1><a href="/">Now</a>
                | Recent |
                <a href="all.html">All</a></h1>
            </tr>
            <tr>
                <td>
                    <h1>Room Temperature</h1>
                    <div data-netdata="aqua.basic"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60"
                         data-colors="#ff5555">
                    </div>   
                </td>
                <td>
                    <h1>Tank Temperature</h1>
                    <div data-netdata="example.random"
                         data-dimensions="random2"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60"
                         data-colors="#55ffff">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Room Humidity</h1>
                    <div data-netdata="example.random"
                         data-dimensions="random3"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60"
                         data-colors="#55ffaa">
                    </div>
                </td>
                <td>
                    <h1>Tank pH</h1>
                    <div data-netdata="example.random"
                         data-dimensions="random1"
                         data-after="-60"
                         data-points="60">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Room Lighting</h1>
                    <div data-netdata="example.random"
                         data-dimensions="random1"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60"
                         data-colors="#5555ff">
                    </div>
                </td>
                <td>
                    <h1>Tank Water Level</h1>
                    <div data-netdata="example.random"
                         data-dimensions="random3"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60"
                         data-colors="#ffaa55">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>CPU Utilization</h1>
                    <div data-netdata="system.cpu"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60">
                    </div> 
                </td>
                <td>
                    <h1>System Load</h1>
                    <div data-netdata="system.load"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60">
                    </div> 
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Disk I/O</h1>
                    <div data-netdata="system.io"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60">
                    </div> 
                </td>
                <td>
                    <h1>System Memory</h1>
                    <div data-netdata="system.ram"
                         data-chart-library="dygraph"
                         data-after="-60"
                         data-points="60">
                    </div> 
                </td>
            </tr>
        </table> 
</body>
</html>
